.navTitle{width: 100%;height: 47px;line-height: 47px;;z-index: 999999;border-bottom: 0.5px solid #eee;background-color: #fafafa;}
.navTitle ul{z-index: 20;padding: 0;width: 1200px;margin: 0 auto;}
.navTitle>ul>li,.navTitle>ul>div>li{line-height: 47px;text-align: center;cursor: pointer;color: #000;color: #555; list-style: none;}
.navTitle>ul>p{color: #848484;}
.navTitle>ul>li>a,.navTitle>ul>div>li>a{text-decoration: none;color: #848484;width: 100%;padding: 0 15px;border-right: 1px solid #c8c8c8;font-size: 14px;font-family: "微软雅黑";}
.navTitle>ul>div .download a{border-right: none;}
.contain{width: 1200px;margin: 0 auto;}
/*新头部*/
.topArea{width: 100%;background-color: #fff;}
.ulList{height: 55px;background-color: #00368a;width: 100%;}
.mainFountion{margin: 0 auto;height: 55px;width: 1200px;background-color: #00368a;}
.mainFountion li{height:55px;line-height: 55px;font-size: 16px;color: #fff;text-align: center;}
.mainFountion li a{text-decoration: none;color:#fff;padding: 0 25px;border-right: 1px solid #010d64;width: 100%;}
.mainFountion li:hover{background-color: #fff;color: #29e;}
.mainFountion li:hover a{color: #00368a;}
.search>div{height: 130px;}
.searchLeft{width: 290px;margin-left: -114px;display: block;}
.searchLeft img{width: 245px;cursor: pointer;margin: 0 auto;}
.searchCenter{width: 660px;padding-top: 26px;}
.searchRight{width: 250px;}
.searchRight>div{width: 125px;text-align: right;padding-top: 20px;}
.searchRight>div img{width: 76px;height: 76px;}
#selectType{width: 100px;height: 45px;line-height: 40;text-align: center;border-right: none;outline: none;padding: 0 2%}
#inputSearch{height: 45px;line-height: 40;width:300px;outline: none;padding:0 20px;}
#searchBtn{height: 45px;width: 90px;font-size: 15px;border: none;background-color: #00368a;color: #fff;outline: none;}
#demandBtn{height: 45px;width: 120px;font-size: 15px;border: none;background-color: #f7ae16;color: #fff;outline: none;}
#searchBtn span,#demandBtn span{font-size: 14px;margin-right: 8px;color: #fff;}
.and{width: 50px;line-height: 45px;text-align: center;}
.hotSearchDiv{margin-top: 15px;}
.hotSearchDiv>span{color: #b3b3b3}
.hotWord{display: inline-block;}
.hotWord>span{display: inline-block;padding: 0 15px;color: #898989;}
.telArea{display: inline-block;height: 55px;line-height: 55px;margin-left: 20px;margin-bottom: 0}
.telArea>span:nth-child(1){color: #fff;font-size: 16px;}
.telNum{color: #ffd600;font-size: 18px;font-weight: 600;margin-left:10px;}
.infoBtn a{text-decoration: none;color: #000;}
#loginBtn{outline: none;height: 20px;}
/*.loginName{margin-right: 10px;}*/
.leaveMessage{position: fixed;bottom: 30px;right: 0;width: 80px;}
.backTop,.message,.collection2,.weChat{background-color: #4b4d52;width: 40px;height: 40px;text-align: center;vertical-align: middle;margin: 5px 20px;cursor: pointer;}
.backTop{display: none;}
.addMessage{display: none;padding: 20px;}
.backTop span,.message span,.collection2 span,.weChat{font-size: 20px;color: #fff;line-height: 40px;}
#weChatImg{width: 100px;height: 100px;}
#fouceWechat{text-align: center;margin:0 5px;}
.fixed{position: fixed;bottom: 0;left: 0;right: 0;}
#demandSquare,#teacherLi{position: relative;}
#demandSquare img,#teacherLi img{position: absolute;width: 36px;height: 25px;top: -6px;right: 0;}
/*页面按钮*/
.pageDiv>p{width: 50%;margin: 10px auto;display: none;}
.pageDiv>p button{width: 30%;height: 50px;background-color: #05509a;color: #fff;line-height: 50px;border: none;outline: none;display: none;}